body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background: #fff;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

a {
    text-decoration: none;
}

address {
    font-style: normal;
}

button {
    cursor: pointer;
}

img {
    display: block;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* ------------- HEADER ---------------- */

.container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
    /* Спільний flex контайнер для header, щоб розмістити всі елементи в ряд */
    display: flex;
}

.header-nav {
    /* Контейнер logo + menu */
    display: flex;
    align-items: center;
    /* Чомусь не gap, а margin */
    /* gap: 76px; */
    /* Щоб не давати margin-right між меню та контактами!!! (Flex-grow даэ елементу зайняти всю "не зайняту ширину" */
    flex-grow: 1;
}

.header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
}

.header-logo .accent {
    color: #2e2f42;
}

.menu-nav {
    /* Контейнер для меню (на ul) */
    display: flex;
    gap: 40px;
}

.menu-nav-item {
    /* це посилання тому робимо display: blok; */
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current {
    position: relative;
    color: #404bbf;
}

.current::after {
    content: '';
    border-radius: 2px;
    width: 100%;
    height: 4px;
    background: #404bbf;
    position: absolute;
    left: 0;
    bottom: -1px;
}

.menu-nav-item:hover,
.menu-nav-item:focus {
    color: #404bbf;
}

.header-address {
    /* Контейнер для контактів */
    display: flex;
    gap: 40px;
    padding: 24px 0;

}

.header-address-item {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    /*властивість вирівняти тег adress*/
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-address-item:hover,
.header-address-item:focus {
    color: #404bbf;
}

/* -------------- HERO ----------------- */

.hero {
    background-color: #2e2f42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url(../images/hero-image.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 188px;
    padding-bottom: 188px;
    max-width: 1440px;
    margin: 0 auto;
}

.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    max-width: 496px;
    /* Щоб вирівняти по горизонталі ---> margin-right: auto; margin-left: auto;
    можна і margin: 0 auto; но тут є margin-bottom тому так)*/
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 48px;
}

.hero-button {
    /*Для кнопки треба шрифт та "cursor"*/
    font-family: "Roboto", sans-serif;
    background-color: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    cursor: pointer;
    /* Щоб кнопка центрувалась */
    margin-right: auto;
    margin-left: auto;
    display: block;
    border: none;
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
    background-color: #404BBF;
}

/* ------------- FEATURES ---------------- */

.features {
    padding-top: 120px;
    padding-bottom: 120px;
}

.features-list {
    display: flex;
    gap: 24px;
}

.features-item {
    /* width: calc((100% - 3 * 24) / 4); */
    width: calc((100% - 72px) / 4);
}

.features-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    /* від заголовка до текста */
    margin-bottom: 8px;
}

.features-title-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.wrap-icon {
    display: flex;
    margin-bottom: 8px;
    /* width: 264px; */
    height: 112px;
    border: 1px solid #8e8f99;
    background-color: #f4f4fd;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
}

/* -------------- TEAM ----------------- */

.section-team {
    background-color: #F4F4FD;
    padding-top: 120px;
    padding-bottom: 120px;
}

.team-list {
    display: flex;
    gap: 24px;
}

.team-card-list-container {
    padding-top: 32px;
    padding-bottom: 32px;
}

.team-subtitle {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    /* З великої літери */
    text-transform: capitalize;
    /* max-width: 162px;
    margin: 0 auto; */
    margin-bottom: 72px;
}

.team-card {
    background: #fff;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    width: calc((100% - 24px * 3) / 4);
}

.team-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}

.team-title-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
    margin-bottom: 8px;
}

.icon-list {
    display: flex;
    gap: 24px;
    padding-left: 16px;
    padding-right: 16px;
    justify-content: center;
}

.icon-item {
    width: 40px;
    height: 40px;
}

.icon-link {
    display: flex;
    width: 100%;
    height: 100%;
    Justify-content: center;
    align-items: center;
    background-color: #4d5ae5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-icon {
    /* stroke: transparent; */
    fill: #F4F4FD;
}

.icon-link:hover,
.icon-link:focus {
    background-color: #404bbf;
}



/* ------------- PORTFOLIO ---------------- */

.section-portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
}

.section-portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.portfolio-title-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.portfolio-item {
    width: calc((100% - 24px * 2) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-item:hover .portfolio-cover-text {
    transform: translateY(0);
}

.portfolio-item-text-container {
    padding-top: 32px;
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-cover-text {
    position: absolute;
    top: 0;
    background-color: #4d5ae5;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    height: 100%;
    padding: 40px 32px;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-cover-wrap {
    position: relative;
    overflow: hidden;
}

/* ------------- FOOTER ---------------- */

.footer {
    background: #2e2f42;
    padding-bottom: 100px;
    padding-top: 100px;
}

.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: inline-block;
    margin-bottom: 16px;
    max-width: 115px;
}

.footer-logo .accent {
    color: #f4f4fd;
}

.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 264px;
}

.footer-wrap {
    display: flex;
    align-items: baseline;
}

.footer-soc-list-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}

.icon-list-footer {
    display: flex;
    gap: 16px;
    padding-left: 0px;
    padding-right: 0px;
}

.footer-content {
    margin-right: 120px;
}

.icon-link-footer:hover,
.icon-link-footer:focus {
    background-color: #31d0aa;
}

.icon-link-footer {
    display: flex;
    width: 100%;
    height: 100%;
    Justify-content: center;
    align-items: center;
    background-color: #4d5ae5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}